@model ClinicalOutcomeRoutineEvaluationApp.ViewModels.QuestionAnswerViewModel
@{
    ViewData["Title"] = "Covid-19 Confinement Effect - Psychological Assessment";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Covid-19 Confinement Effect - Psychological Assessment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Test psychologique par rapport au COVID-19 </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="row">
        <div class="outer">
            <div class="bg">
                <div class="inner">
                    <h3>
                        Ce test vous permet de vous faire un bilan psychochologique et ainsi à promouvoir la récupération, la santé et le bien-être.
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button type="button" class="btn btn-outline-primary" onclick="startQuestionnaire()">Démarrez le test</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="outer">
            <div class="bg">
                <div class="inner">
                    <h3>
                        Ce test comporte 34 questions.
                        Ce test est anonyme. Aucune donnée n'est enregistré ou traité
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-dark bg-dark mt-5">
        <div class="navbar-expand m-auto navbar-text">
            <p>Développé avec <i class="fa fa-heart" aria-hidden="true"></i> par  <a href="https://ajmaldookhan.com">Ajmal</a></p>
        </div>
    </nav>
</body>

</html>
<script>
function startQuestionnaire() {
    window.location.href = '/Home/Questionnaire/';
}
</script>