@model ClinicalOutcomeRoutineEvaluationApp.ViewModels.QuestionAnswerViewModel
@{
    ViewData["Title"] = "Covid-19 Confinement Effect - Psychological Assessment";
}
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Covid-19 Confinement Effect - Psychological Assessment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/home.css" rel="stylesheet" />
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>

    
</head>
<body>
    <!--
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Test psychologique par rapport au COVID-19 </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
        -->
    <div class="row">
        <div class="outer">
            <div class="bg">
                <div class="inner">
                    <h3>
                        Bienvenue sur la plateforme de soutien psychologique lié au Covid-19
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button type="button" class="btn btn-outline-primary" onclick="startQuestionnaire()">Accéder</button>
            </div>
        </div>
    </div>
    <br />
    <br />
    <!--
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <button type="button" class="btn btn-outline-primary" onclick="signalerIsolement()">Signalez un isolement</button>
                </div>
            </div>
        </div>
    -->


</body>

</html>
<script>
function startQuestionnaire() {
    window.location.href = '/Home/About/';
}
</script>