/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
p.ex {
    color: black;
}

.p:hover {
    color: yellow;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

#gauge-chart-p, #gauge-chart-r, #gauge-chart-w, #gauge-chart-f {
    width: 100%;
    height: 100%;
    align-items: center;
    font-family: "Open Sans", Verdana;
}

    #gauge-chart-p, #gauge-chart-r, #gauge-chart-w, #gauge-chart-f svg {
        width: 100%;
        height: 100%;
        align-items: center;
    }


#btnRefaireTest {
display:none;
}

.fa-heart {
    color: hotpink;
}

.radio-button {
    cursor:pointer;
}

input[type=radio]:checked + label:after {
    content: "\2022";
    color: #373c3e;
    font-size: 56px;
    text-align: center;
    line-height: 18px;
}


.outer {
    padding-top: 120px;
    width: 850px;
    margin: auto;
    display: block;
    /* set the font color here as a background color, in this case black
  background-color: black; */
}

.bg {
    text-align: center;
    width: 0%;
    transition: all 0.6s ease-out;
    background: #3ebac6 background: -moz-linear-gradient(left, #3ebac6 0%, #8b539e 50%, #e53782 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #3ebac6), color-stop(50%, #8b539e), color-stop(100%, #e53782));
    background: -webkit-linear-gradient(left, #3ebac6 0%, #8b539e 50%, #e53782 100%);
    background: -o-linear-gradient(left, #3ebac6 0%, #8b539e 50%, #e53782 100%);
    background: -ms-linear-gradient(left, #3ebac6 0%, #8b539e 50%, #e53782 100%);
    background: linear-gradient(to right, #3ebac6 0%, #8b539e 50%, #e53782 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3ebac6', endColorstr='#e53782', GradientType=1);
}

.inner {
    display: inline-block;
    background-color: white;
    mix-blend-mode: screen;
    padding: 5px;
    width: 850px;
}

h1 {
    color: black;
    font-size: 50px;
    letter-spacing: 5px;
}

.outer:hover .bg {
    width: 100%;
}


